[submodule "Minity/vendor/spdlog"]
	path = Minity/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "Minity/vendor/glfw"]
	path = Minity/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Minity/vendor/imgui"]
	path = Minity/vendor/imgui
	url = https://github.com/ocornut/imgui.git
